name: Validate
on:
  pull_request:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/setup
      - run: bun run build
      - run: bun check
      - run: bun test
      - run: bun bin/publish-extension.mjs --help
  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-24.04
    # If PR is from a fork, secrets aren't available, so skip this job.
    if: github.event.pull_request.head.repo.fork != true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/setup
      - run: ./scripts/dev.sh all
        env:
          CHROME_EXTENSION_ID: ${{ secrets.TEST_CHROME_EXTENSION_ID }}
          CHROME_PUBLISHER_ID: ${{ secrets.TEST_CHROME_PUBLISHER_ID }}
          CHROME_CLIENT_ID: ${{ secrets.TEST_CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.TEST_CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.TEST_CHROME_REFRESH_TOKEN }}
          CHROME_SKIP_SUBMIT_REVIEW: 'true'
          FIREFOX_EXTENSION_ID: ${{ secrets.TEST_FIREFOX_EXTENSION_ID }}
          FIREFOX_JWT_ISSUER: ${{ secrets.TEST_FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.TEST_FIREFOX_JWT_SECRET }}
          FIREFOX_CHANNEL: unlisted
          EDGE_PRODUCT_ID: ${{ secrets.TEST_EDGE_PRODUCT_ID }}
          EDGE_CLIENT_ID: ${{ secrets.TEST_EDGE_CLIENT_ID }}
          EDGE_API_KEY: ${{ secrets.TEST_EDGE_API_KEY }}
          EDGE_SKIP_SUBMIT_REVIEW: 'true'
